/*
 * @Author: kim.chen 
 * @Date: 2018-10-16 20:10:10 
 * @Last Modified by: kim.chen
 * @Last Modified time: 2018-10-20 15:24:05
 */
.nav-simple{
    height:60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;

}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}